<ion-header>
  <ion-navbar color="copiloto">
    <ion-buttons *ngIf="confirmacionConfSer" left>
      <button ion-button icon-only outline (click)="goBackConfiguration()">
        <ion-icon name='md-arrow-back'></ion-icon>
        <!-- <ion-icon name='md-skip-backward'></ion-icon> -->
      </button>
    </ion-buttons>

    <ion-title text-center>Nuevo servicio</ion-title>
    <!-- <ion-buttons *ngIf="!confirmacionConfSer" end>
      <button ion-button color="md_tq" (click)="showOptionsToLogInApp()" outline>
        <ion-icon style="color:md_tq;" name="md-skip-forward"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager slider="swiper.data.slider">
    <ion-slide class="ionSlide">
      <h1 style="font-size: 1.5em;color:#21425F;margin:0;padding:0;"> ¡Hola {{ conductorProvider.nombreConductor }}, Bienvenido!</h1>
      <span style="font-size: 0.9em;color:#335D82;margin:0;padding:0;">Porfavor ingresa la siguiente informacion.</span>
      <p style="height: 10px;"></p>
      <span style="width: 100%;font-size: 1.1em; color: #21425F;">
        Unidad:
      </span>
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" [showCancelButton]="false" (ionClear)="onCancel($event)"
        placeholder="Filtrar" style="max-width: 100% !important; width: 100%;  text-align: center !important;">
      </ion-searchbar>
      <ion-list *ngIf="itemsSr" class="listResults">
        <ion-item (click)="setUnidad(search)" *ngFor="let search of itemsSr">
          {{ search.nuid + ' - ' + search.placas + ' - ' + search.modelo }}
        </ion-item>
      </ion-list>
      <ion-item no-lines style="width: 100%;text-align: center;height: 100px;padding:0px;">
        <ion-label style="width: 100%; position: absolute; top:0; font-size: 1.2em; color: #21425F;">Tipo de servicio</ion-label>
        <ion-select style="max-width: 100% !important;width: 100%;position: absolute; top:40px;color: rgb(70, 69, 69);padding:10px;padding-bottom:7px;margin: 0;border-bottom: solid 1px #c6c6ce;font-size: 1.1em;margin-left: 8px;"
          [(ngModel)]="tipoDeServicio">
          <ion-option disabled value="default">Elige un tipo</ion-option>
          <ion-option (ionSelect)="slectTipoServicio($event)" value="1368">De carga</ion-option>
          <ion-option (ionSelect)="slectTipoServicio($event)" value="1369">Turismo</ion-option>
          <ion-option (ionSelect)="slectTipoServicio($event)" value="1370">Pasajeros</ion-option>
          <ion-option (ionSelect)="slectTipoServicio($event)" value="1371">Privado</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines style="width: 100%;text-align: center;height: 100px;padding:0px;">
        <ion-label style="width: 100%; position: absolute; top:0; font-size: 1.2em; color: #21425F;">Modalidad</ion-label>
        <ion-select style="max-width: 100% !important;width: 100%;position: absolute; top:40px;color: rgb(70, 69, 69);padding:10px;padding-bottom:7px;margin: 0;border-bottom: solid 1px #c6c6ce;font-size: 1.1em;margin-left: 8px;"
          [(ngModel)]="modalidadDeServicio">
          <ion-option disabled value="default">Elige un tipo</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2786">De carga general</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2787">De carga especializada</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2788">De lujo</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2789">Ejecutivo</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2790">Primera</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2791">Económico</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2792">Mixto</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2793">Turístico</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2794">Turístico de lujo</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2795">Excursión</ion-option>
          <ion-option (ionSelect)="slectModalidadServicio($event)" value="2796">Chofer - guía</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Origen:</ion-label>
        <ion-input type="text" [(ngModel)]="origenServicio" placeholder="-"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Destino:</ion-label>
        <ion-input type="text" [(ngModel)]="destinoServicio" placeholder="-"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Descripción de la ruta:</ion-label>
        <ion-input type="text" [(ngModel)]="descripcionRutaASeguir" placeholder="-"></ion-input>
      </ion-item>
      <p style="height: 10px;"></p>
      <button ion-button style="margin:auto; width: 95% !important;margin-bottom:30px;text-transform: initial;background-color: #367DB7;font-size: 20px;"
        (click)="nextSlideConfirmacion()">Siguiente<ion-icon name="ios-arrow-forward" style="position:absolute; right: 20px;"></ion-icon>
      </button>
    </ion-slide>
    <ion-slide class="ionSlide">
      <h1 style="font-size: 1.5em;color:#21425F;margin:0;padding:0;"> ¿Listo para empezar?</h1>
      <span style="font-size: 0.9em;color:#335D82;margin:0;padding:0;">¡Si es correcta la información, empecemos! </span>
      <p style="height: 10px;"></p>

      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Unidad:</ion-label>
        <ion-input type="text" [(ngModel)]="nombreUnidad" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Tipo de servicio:</ion-label>
        <ion-input type="text" [(ngModel)]="tipoServicioDescLong" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Modalidad:</ion-label>
        <ion-input type="text" [(ngModel)]="modalidadServicioDescLong" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Origen:</ion-label>
        <ion-input type="text" [(ngModel)]="origenServicio" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Destino:</ion-label>
        <ion-input type="text" [(ngModel)]="destinoServicio" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="width: 100%; font-size: 1.2em; color: #21425F;text-align: center;" stacked>Descripción de la ruta:</ion-label>
        <ion-input type="text" [(ngModel)]="descripcionRutaASeguir" disabled></ion-input>
      </ion-item>
      <p style="height: 10px;"></p>
      <button ion-button style="margin:auto; width: 95% !important;margin-bottom:30px;text-transform: initial;font-size: 22px;height: 60px;"
        color="copiloto" (click)="iniciarServicio()">Iniciar servicio <ion-icon name="play" style="position:absolute; right: 17px;"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
