<ion-header>
  <ion-navbar color="copiloto">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Registro de actvidad
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="timerExTmp">
  <ion-card>
    <div>
      <!-- <ion-item style="background-color: #4DAEDA;color:white;font-size: 18px;">
        <ion-label>Actividad actual</ion-label>
        <button ion-button icon-only item-end color="md_tq" (click)="optionsActionSheet()" outline>
          <ion-icon style="color:honeydew;" name="more"></ion-icon>
        </button>
      </ion-item> -->
      <!-- <div style="border-bottom:solid 1px rgb(157, 39, 39);z-index: 1000;text-align: center;"> -->
      <ion-list *ngIf="bitacoraProvider.stExepcionTemporal">
        <ion-item-sliding style="border-bottom:solid 1px rgb(157, 39, 39);">
          <ion-item-options side="left">
            <button ion-button color="danger_1" (click)="eliminarExcepcion()">Eliminar <ion-icon name="md-trash"></ion-icon></button>

          </ion-item-options>
          <ion-item text-center style="color: #c25757;display: inline-block;width: 100%;text-align: center;">

            <ion-label text-center style="display: inline-block;">
              <ion-icon name="warning"></ion-icon> &nbsp; Excepción temporal: {{ bitacoraProvider.strHorasExcepcion + bitacoraProvider.strMinutosExcepcion
              + bitacoraProvider.strSegundosExcepcion }}
            </ion-label>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button outline color="md_tq" style="text-transform: capitalize" (click)="confirmExcepcionTemporal()">
              Terminar
              <ion-icon name="md-checkbox-outline"></ion-icon>
            </button>
            <button ion-button outline color="md_tq" style="text-transform: capitalize">
              Editar
              <ion-icon name="md-create"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <!-- </div> -->
      </ion-list>
      <ion-item text-center>
        <span class="actividadTitleSt">{{ (bitacoraProvider.stInProgress ? bitacoraProvider.actividadActual : 'S') | actividadProgressTitle
          }}
        </span>
      </ion-item>
      <div style="margin-left: auto;margin-right: auto;text-align: center;">

        <span *ngIf="bitacoraProvider.stInProgress" class="reloj">{{ bitacoraProvider.strHoras }}</span>
        <span *ngIf="bitacoraProvider.stInProgress" class="reloj">{{ bitacoraProvider.strMinutos}}</span>
        <span *ngIf="bitacoraProvider.stInProgress" class="reloj">{{ bitacoraProvider.strSegundos }}</span>

        <!-- Servicio -->
        <span *ngIf="!bitacoraProvider.stInProgress" class="reloj">{{ bitacoraProvider.strHorasServicio + bitacoraProvider.strMinutosServicio
          + bitacoraProvider.strSegundosServicio }}
        </span>


      </div>
      <button id="inicio" ion-button (click)="confirmarAccionActividad('C')" color="teal_blue" class="btnActionInicio" [disabled]="bitacoraProvider.dsConduciendo">
        <ion-icon *ngIf="!bitacoraProvider.Conduciendo" name="play" style="margin-right: 20px"></ion-icon>
        <ion-icon *ngIf="bitacoraProvider.Conduciendo" name="square" style="margin-right: 8px;font-size:20px;"></ion-icon>
        <span *ngIf="!bitacoraProvider.Conduciendo">Iniciar conducción</span>
        <span *ngIf="bitacoraProvider.Conduciendo">Terminar conducción</span>
      </button>
      <div style="padding: 0px;margin:0px;width: 100%;margin-top: 10px;margin-bottom: 7px;">

        <button id="eliminar" ion-button (click)="confirmarAccionActividad('D')" color="md_tq" class="btnActionDescanso" [disabled]="bitacoraProvider.dsDescanso">
          <ion-icon *ngIf="bitacoraProvider.Descanso" name="square" style="margin-right: 10px;font-size:20px;"></ion-icon>
          <ion-icon *ngIf="!bitacoraProvider.Descanso" name="play" style="margin-right: 10px"></ion-icon>
          <span>Descanso</span>
        </button>
        <button id="idExcepcion" ion-button (click)="confirmExcepcionTemporal()" color="md_tq" class="btnActionExcepcion">
          <ion-icon *ngIf="bitacoraProvider.ExcepcionTemporal" name="square" style="margin-right: 10px;font-size:20px;"></ion-icon>
          <ion-icon *ngIf="!bitacoraProvider.ExcepcionTemporal" name="play" style="margin-right: 10px"></ion-icon>
          <span>Excepción</span>
        </button>
      </div>
    </div>
    <span>
      &nbsp;
    </span>
    <ion-card *ngIf="bitacoraProvider.haveElements" style="padding:0;margin: auto;width: 99.2% !important;">
      <ion-title text-center style="margin-bottom: 7px; margin-top: 10px;">
        <span style="font-size: 0.9em;font-weight: bold;color:#21425F;">Actividades realizadas</span>
      </ion-title>
      <ion-list>
        <ion-item-sliding *ngFor="let itemBitacora of bitacoraProvider.BitacoraData" class="listBitacora" detail-push>
          <ion-item class="itemListBitacora" (click)="goToDetallesItem(itemBitacora)">
            <span style="color:#21425F;">{{ itemBitacora.Actividad | actividadTitle }}</span>
            <span style="float:right;color:#21425F;">{{ itemBitacora.Terminado ? itemBitacora.TiempoHhmmss : (itemBitacora.Actividad!=='ET'
              ? (bitacoraProvider.strHoras + bitacoraProvider.strMinutos+bitacoraProvider.strSegundos) : bitacoraProvider.strHorasExcepcion
              + bitacoraProvider.strMinutosExcepcion + bitacoraProvider.strSegundosExcepcion ) }}
            </span>
            <span item-end style="color: #21425F">
              <ion-icon style="margin-top: 2px;" name="ios-arrow-forward"></ion-icon>
            </span>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button outline color="md_tq" style="text-transform: capitalize">
              Eliminar
              <ion-icon name="md-trash"></ion-icon>
            </button>
            <button ion-button outline color="md_tq" style="text-transform: capitalize">
              Editar
              <ion-icon name="md-create"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>

      </ion-list>
    </ion-card>
    <button id="inicio" ion-button color="danger_2" style="width: 95% !important;margin-right: auto;margin-left: auto; margin-bottom: 15px;margin-top: 15px;font-size: 1.3em;text-transform: initial;height: 48px;font-size: 1.5em;"
      (click)="terminarServicio()" block>
      <span>Terminar servicio</span>
    </button>
  </ion-card>

</ion-content>
