page-bitacora {
}
.lineItemBitacoraInfo {
  border-bottom: 1px solid #dfdfdc;
}
.lineItemBitacoraInfo > .titleItemBitacoraInfo {
  font-weight: bold;
}
.headerTipoBitacora {
  color: #21425f;
  font-weight: bold;
}
.cardHeaderBitacora {
  border-bottom: 1px solid #f5f5f0;
  background-color: #4daeda;
  color: #f1f1eb;
  font-size: 1em;
  font-weight: bold;
  padding: 4px;
}
