<ion-header>
  <ion-navbar color="copiloto">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Bitácora
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header text-center class="cardHeaderBitacora">
      General
    </ion-card-header>
    <ion-card-content>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Fecha</ion-col>
        <ion-col col-6>{{ fechaBitacora | date:'fullDate':'GMT+00000':'es-mx' | uppercase }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Tipo de servicio</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.TipoServicio }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Modalidad</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.ModalidadServicio }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Origen</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.DireccionOrigen }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Destino</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.DireccionDestino }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Permisionario</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.Permisionario }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Domicilio</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.PermisionarioDomicilio }}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-center class="cardHeaderBitacora">
      Conductor
    </ion-card-header>
    <ion-card-content>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Nombre</ion-col>
        <ion-col col-6>{{ strNombreConductor }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">N. Licencia</ion-col>
        <ion-col col-6>23581321</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Vigencia</ion-col>
        <!--  -->
        <!-- <ion-col col-6>{{ '2018-09-09T00:00:00' | date:'fullDate':'GMT+00000':'es-mx' | uppercase }}</ion-col> -->
        <ion-col col-6>{{ '2018-08-06T11:44:34' | date:'fullDate':'utc-06':'es-mx' | uppercase }}</ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-center class="cardHeaderBitacora">
      Unidad
    </ion-card-header>
    <ion-card-content>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Marca</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.Unidad.Marca }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Modelo</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.Unidad.Modelo }}</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-6 class="titleItemBitacoraInfo">Placas</ion-col>
        <ion-col col-6>{{ bitacoraProvider.objConfServicio.Unidad.Placas }}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-center class="cardHeaderBitacora">
      Bitácora
    </ion-card-header>
    <!-- <ion-card-header text-center class="headerTipoBitacora">
      {{ bitacoraProvider.StatusServicio.FechaHoraInicio | date:'fullDate':'GMT+00000':'es-mx' | uppercase }}
      <hr>
    </ion-card-header> -->
    <div *ngIf="ObjItemsConduciendo">
      <ion-card-header text-center class="headerTipoBitacora">
        <span>Tiempo en conducción</span>
        <br>
        <span>
          {{ bitacoraProvider.segundosConduccionHhmmss }}
        </span>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="lineItemBitacoraInfo">
          <ion-col col-4 class="titleItemBitacoraInfo">Inicio</ion-col>
          <ion-col col-4 class="titleItemBitacoraInfo">Fin</ion-col>
          <ion-col col-4 class="titleItemBitacoraInfo">Tiempo</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of ObjItemsConduciendo" class="lineItemBitacoraInfo">
          <ion-col col-4>{{ (item.FechaHoraInicio| dateUtcToLocale) | date:'d-MM-yy HH:mm:ss':'es-mx' }}</ion-col>
          <ion-col col-4>{{ item.Terminado ? ((item.FechaHoraFinal| dateUtcToLocale) | date:'d-MM-yy HH:mm:ss':'es-mx') :
            '--' }}</ion-col>
          <ion-col col-4>{{ item.Terminado ? item.TiempoHhmmss : bitacoraProvider.strHoras + bitacoraProvider.strMinutos
            + bitacoraProvider.strSegundos }}</ion-col>
        </ion-row>
      </ion-card-content>
    </div>
    <div *ngIf="ObjItemsDescansos">
      <ion-card-header text-center class="headerTipoBitacora">
        <span> Tiempo en descanso </span>
        <br>
        <span> {{ bitacoraProvider.segundosDescansoHhmmss }} </span>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="lineItemBitacoraInfo">
          <ion-col col-4 class="titleItemBitacoraInfo">Inicio</ion-col>
          <ion-col col-4 class="titleItemBitacoraInfo">Fin</ion-col>
          <ion-col col-4 class="titleItemBitacoraInfo">Tiempo</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of ObjItemsDescansos" class="lineItemBitacoraInfo">
          <ion-col col-4>{{ (item.FechaHoraInicio| dateUtcToLocale) | date:'d-MM-yy HH:mm:ss':'es-mx' }}</ion-col>
          <ion-col col-4>{{ item.Terminado ? ((item.FechaHoraFinal| dateUtcToLocale) | date:'d-MM-yy HH:mm:ss':'es-mx') :
            '--' }}</ion-col>
          <ion-col col-4>{{ item.Terminado ? item.TiempoHhmmss : bitacoraProvider.strHoras + bitacoraProvider.strMinutos
            + bitacoraProvider.strSegundos }}</ion-col>
        </ion-row>
      </ion-card-content>
    </div>

    <ion-card-header text-center class="headerTipoBitacora">
      <span>Tiempo en servicio</span>
      <br>
      <span> {{ bitacoraProvider.strHorasServicio + bitacoraProvider.strMinutosServicio + bitacoraProvider.strSegundosServicio
        }} </span>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-4 class="titleItemBitacoraInfo">Inicio</ion-col>
        <ion-col col-4 class="titleItemBitacoraInfo">Fin</ion-col>
        <ion-col col-4 class="titleItemBitacoraInfo">Tiempo</ion-col>
      </ion-row>
      <ion-row class="lineItemBitacoraInfo">
        <ion-col col-4> {{ (bitacoraProvider.StatusServicio.FechaHoraInicio | dateUtcToLocale) | date:'d-MM-yy HH:mm:ss':'es-mx'
          }}
        </ion-col>
        <ion-col col-4>-</ion-col>
        <ion-col col-4>{{ bitacoraProvider.strHorasServicio + bitacoraProvider.strMinutosServicio + bitacoraProvider.strSegundosServicio
          }} </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
